*{
    margin: 0;
    padding: 0;
}
html,body {
    height:100%;
}

#js-map{

    height: 100%;
    margin: 0;
    float: right;
    text-align: center;
    background-color:lightblue;
}
.container{
    display: inline;
}
.info{
    height:100%;
    float: left;
    background-color: grey;
    color: lightblue;
    text-align: center;
    border: 2px lightblue solid;
}
.important-info{
    height: 33%;
}
    
.cities-found{
    font-size: 25px;
}

.questiondiv{
    height: 33%;
    margin-top: 20px;
}
.question{
    color:khaki;
    font-size: 20px;
}
.responsediv{
    height: auto;
}
.response{
    color:lightpink;
}
.play-again{
    visibility: hidden;
    color: maroon;
    font-weight: bold;
    align-content: center;
    text-align: center;
    margin-top: -20px;
    
}
.play-again p{
    cursor: pointer;
    margin:0;
    padding:0;
    font-size: 25px;
}
.play-again p:hover{
    color: magenta;
}
@media (max-width: 570px){
    #js-map{
        height: 75%;
    }
    .info{
        height: 25%;
    }
    .questiondiv{
        height: auto;   

    }
    .responsediv{
        height: auto;
        margin-top: 0px;
    }
    .important-info{
        height: auto;
    }
    .play-again{
        height: 0;
        margin-bottom: -20px;
    }.play-again p{
        font-size: 20px;
    }
    .question{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    .cities-found{
        font-size: 25px;
    }
    .km-left{
        margin-top: -20px;
    }
    .response{
        margin-top: 35px;
    }
}
@media screen and (max-height: 570px) and (max-width: 570px){
    #js-map{
        height: 70%;
    }
    .info{
        height: 30%;
    }
}

@media(max-height: 550px )and (max-width: 574px){
    .cities-found{
        font-size: medium;
    }
    .km-left{
        font-size: small;
    }
    .question{
        font-size: medium;

    }
    .response{
        font-size: small;
        margin-top: 25px;
    }
    .questiondiv{
        margin-top: -20px;
        height: 33%;
        padding-top: 7px;
    }
    .play-again{
        margin-bottom: auto;
    }.play-again p{
        font-size: medium;
    }
}
@media(min-height: 750px)and (max-width:550px){
    .info{
        height: 20%;
    }
    #js-map{
        height: 80%;
    }
}