#js-map{
    height: 100%;
    width: 80%;
    margin: 0;
    float: right;
    text-align: center;
    background-color:lightblue;
}
.container{
    display: inline;
}
.info{
    width:20%;
    height:100%;
    float: left;
    background-color: grey;
    color: lightblue;
    text-align: center;
}
.important-info{
    height: 40%;
}
    
.cities-found{
    margin-top: 10%;
    font-size: 30px;
}

.question{
    height: 40%;
    color:khaki;
    font-size: 25px;
}

.response{
    color:lightpink;
}